<header>
  <h1>Welcome to "{{ title }}"</h1>
</header>

<div class="container">
  <p>code word code word code word.</p>
  <p>I SAID TOP SECRET GOOO AWAY!!!!!!.</p>

  <div class="message">
    <p>
      code language 22drt//dfrtg gggtyhjuik ssfds ffjgkt GGGGGGOOOOOOOOOO AWAY
      PLEASE MATE IM BEAGEN YOU
    </p>
  </div>
</div>

<router-outlet></router-outlet>
