header {
  background-color: #f3db06;
  color: #0d11ff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

.container {
  max-width: 800px;
  margin: 2em auto 0;
  padding: 20px;
  background-color: #fffb05;
  box-shadow: 0 2px 4px rgba(167, 255, 5, 0.1);
  border-radius: 5px;
}

p {
  font-size: 18px;
  text-align: center;
}

.message {
  font-style: italic;
  font-size: 14px;
  color: #1100ff;
  text-align: center;
  margin-top: 20px;
}
